/* Style for the container of the Home component */
.HomeContainer {
    margin-top: 20px;
  }
  
  /* Style for the heading in the Home component */
  .HomeHeading {
    font-size: 2em;
    color: #282c34;
  }
  
  /* Style for the paragraph in the Home component */
  .HomeParagraph {
    margin-top: 10px;
    color: #333;
  }
  